$primaryFontStack: Arial, sans-serif;
$headingFontStack: 'Lato', sans-serif;
$primaryTextColor: #404446;
$contentTextColor: #484848;
$primaryBackground: #474747;
$primaryBrand: #7fd425;
$cardBackground: #e9e9e9;




*,
*:before,
*:after {
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

html {
	overflow: hidden;
	overflow-y: auto;
}

body, html, .site {
	overflow-x: hidden;
	position: relative;
	max-width: 100%;
	width: 100%;
}

p, a, li {
	font-family: $primaryFontStack;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	color: $contentTextColor;
	font-family: $headingFontStack;
	letter-spacing: 1px;
	font-weight: 400;
}

p {
	color: $contentTextColor;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

img {
	display: block;
}

.content-constrainer {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;

	@media only screen and (max-width: 1160px) {
		padding: 0 24px;
	}
}

.splitter {
	max-width: 100%;
	margin: 0 auto;
	min-height: 1px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
	outline: none !important;
    border:1px solid $primaryBrand;
    box-shadow: 0 0 5px $primaryBrand;
}

input[type="submit"], .btn {
	border: none;
	color: white;
	font-family: $headingFontStack;
	background: $primaryBackground;
	font-family: $headingFontStack;
	width: 226px;
	max-width: 100%;
	display: block;
	text-align: center;
	padding: 14px 12px;
	border-radius: 6px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	text-transform: uppercase;

	&:hover {
		background: $primaryBrand;
	}

	&.secondary {
		background: white;
		color: $primaryTextColor;

		&:hover {
			background: $primaryBrand;
		}
	}

}

.main-content {

	&.page-header {
		h1 {
			@media only screen and (max-width: 600px) {
				font-size: 24px;
			}
		}
	}

	h1 {
		text-align: center;
	}

	p:first-child {
		font-size: 16px;
		line-height: 20px;
	}

	p:nth-child(2) {
		font-size: 16px;
		line-height: 16px;
	}
}


.remodal-wrapper {
	background: rgba(127,212,37,.3);

	.remodal {

		h1 {
			color: $primaryTextColor;
			font-family: $primaryFontStack;
			font-size: 29px;
			font-weight: 500;
			line-height: 30px;
			text-transform: uppercase;
		}

		.search-form {

			.screen-reader-text {
				display: none;
			}

			input[type="search"] {
				padding: 12px;
				width: 100%;
				margin-bottom: 12px;
				border-radius: 6px;
				border: 1px solid $primaryBackground;
			}

			input[type="submit"] {
				margin: 0 auto;
			}
		}
	}
}

.header-image {
	height: 470px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@media only screen and (max-width: 700px) {
		height: 280px;
	}

	@media only screen and (max-width: 400px) {
		height: 180px;
	}
}

.top-bar {
	display: table;
	width: 100%;
	padding: 40px 0;

	@media only screen and (max-width: 960px) {
		padding: 16px;
	}

	@media only screen and (max-width: 540px) {
		padding: 12px 8px;
	}

	.top-bar-inner {
		max-width: 800px;
		margin: 0 auto;
		display: table;

		@media only screen and (max-width: 540px) {
			display: block;
			position: relative;
		}

		&>div, &>a {
			display: table-cell;
			width: 46%;
			vertical-align: middle;
			padding: 0 32px;

			@media only screen and (max-width: 540px) {
				padding: 0;
				width: 50%!important;

				p {
					float: right;
					margin-bottom: 0!important;

					&:first-child {
						margin-left: 12px!important;
					}
				}
			}

			&:first-child {
				text-align: right;
				border-right: 1px solid $primaryTextColor;
			}

			.site-logo {
				width: 100%;
			}

			&.right-icons {
				@media only screen and (max-width: 540px) {
					position: absolute !important;
					display: block !important;
					right: 0 !important;
					top: 0 !important;
					padding-right: 0 !important;

					p {
						display: inline-block;
						margin-bottom: 0;

						&:first-child {
							margin-right: 8px;
						}
					}
				}
			}

			@media only screen and (max-width: 698px) {
				display: block;
				width: 100%;
				text-align: center!important;

				.site-logo {
					max-width: 500px;
					margin: 0 auto;

					@media only screen and (max-width: 698px) {
						max-width: 300px;
					}
				}

				&:first-child {
					border-right: 0;
				}

				p {
					display: inline-block;

					.hide-contact-mobile {
						font-size: 18px;
					}

					&:first-child {
						margin-top: 24px;
						margin-right: 12px;
					}
				}
			}

			@media only screen and (max-width: 540px) {
				display: table-cell;
				width: auto;

				.site-logo {
					@media only screen and (max-width: 540px) {
						width: 200px;
					}
				}

				&:first-child {
					border-right: 0;
					padding-right: 0;
				}

				p {
					display: block;
					margin-top: 0!important;

					&:first-child {
						margin-right: 0;
					}

					.icon {
						margin-right: 0;
						display: block;
					}

					.hide-contact-mobile {
						display: none;
					}
				}
			}

			@media only screen and (max-width: 428px) {
				.site-logo {
					min-width: 200px;
				}
			}
		}
	}

	p {
		margin: 0;
		font-size: 22px;
		font-weight: 300;

		&:first-child {
			margin-bottom: 12px;
		}

		.icon {
			padding: 1px 6px;
			border-radius: 100%;
			background: #7fd425;
			margin-right: 10px;
			width: 30px;
			height: 30px;

			i {
				color: #ffffff;
				position: relative;

				@media only screen and (max-width: 540px) {
					top: 4px;

					&.fa-at {
						top: 3px;
					}
				}
			}
		}

		a {
			color: $primaryTextColor;
			font-family: $headingFontStack;
		}
	}
}

.main-menu {
	background: $primaryBackground;

	.menu-container {
		max-width: 1920px;
		margin: 0 auto;
		position: relative;

		ul {
			padding: 0;
			list-style-type: none;
			margin: 0;
			text-align: center;
			font-size: 0;
			text-transform: uppercase;

			li {
				display: inline-block;
				font-size: 16px;
				position: relative;

				a {
					color: #ffffff;
					padding: 16px;
					display: block;
					font-weight: 200;
					font-family: $headingFontStack;
					letter-spacing: 1px;
					-webkit-transition: all .2s ease;
					-moz-transition: all .2s ease;
					-ms-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;

					&:hover {
						background: $primaryBrand;
					}
				}

				&.menu-item-has-children {


					.sub-menu {
						position: absolute;
						background: #5b5b5b;
						min-width: 200px;
						text-align: left;
						overflow: hidden;
						height: 0;
						opacity: 0;

						li {
							border-top: 1px solid white;
							display: block;

							&:first-child {
								border-top: none;
							}
						}
					}
				}
			}

			@media only screen and (max-width: 1024px) {
				position: absolute;
				background: $primaryBackground;
				top: 100%;
				z-index: 9999;
				left: -100%;
				height: 100vh;
				width: 200px;
				text-align: left;

				li {
					display: block;
					border-top: 1px solid #5b5b5b;

					&:first-child {
						border-top: none;
					}

					&.menu-item-has-children {

						.sub-menu {
							left: 100%;
							top: 0;
						}
					}
				}
			}
		}

		.mobile-menu-button {
			display: none;
			position: absolute;
			top: 50%;
			left: 24px;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);

			i {
				font-size: 30px;
				color: white;
				cursor: pointer;
			}

			@media only screen and (max-width: 1024px) {
				display: block;
			}
		}

		.site-search {

			.search-form {
				position: absolute;
				right: 54px;
				width: 0;
				overflow: hidden;
				top: 0;
				bottom: 0;
				height: 100%!important;

				input[type="search"] {
					height: 100%;
					width: 320px;
					padding: 12px;
				}

				input[type="submit"], span {
					display: none;
				}
			}


			.search-button {
				background: #202223;
				height: 100%;
				width: 54px;
				text-align: center;
				cursor: pointer;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;

				&:hover {
					background: $primaryBrand;
				}

				i {
					color: white;
					margin-top: 46%;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					font-size: 22px;
				}
			}
		}

		@media only screen and (max-width: 1024px) {
			min-height: 54px;
		}
	}
}

.sector-icons {
	margin: 32px 0 62px 0;

	@media only screen and (max-width: 600px) {
		margin: 16px 0 32px 0;
	}

	.sector-icon {
		float: left;
		width: 33.333%;
		text-align: center;

		a, img {
			display: block;
			margin: 0 auto;
		}

		img {
			margin-bottom: 36px;
			height: 125px;
		}

		@media only screen and (max-width: 768px) {
			a {
				width: 200px;
			}
		}

		@media only screen and (max-width: 698px) {

			a {
				width: 180px;
			}
		}

		@media only screen and (max-width: 630px) {
			img {
				width: 80px;
				height: 70px;
			}

			a {
				font-size: 14px;
				max-width: 96%;
			}
		}

		@media only screen and (max-width: 510px) {
			width: 100%;
			margin-bottom: 24px;

			img {
				width: auto;
				height: auto;
				max-width: 200px;
			}
		}
	}
}

.services-button {
	margin: 36px auto;
	text-align: center;

	.btn {
		margin: 0 auto;
	}
}

.building-image-map {
	position: relative;
	margin: 0 auto;
	max-width: 1920px;

	.building-image {
		width: 100%;
	}

	.map-item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&#item-one {
			.map-marker, .map-item-content {
				top: 58%;
				left: 10%;
			}
		}

		&#item-two {
			.map-marker, .map-item-content {
				top: 40%;
				left: 38%;
			}
		}

		&#item-three {
			.map-marker, .map-item-content {
				top: 50%;
				left: 67%;
			}
		}

		&#item-four {
			.map-marker, .map-item-content {
				top: 75%;
				left:54%;
			}
		}

		.map-marker {
			width: 84px;
			height: 84px;
			background: #616161;
			border: 10px solid $primaryBrand;
			border-radius: 50%;
			cursor: pointer;
			z-index: 50;
			-webkit-transition: all .2s ease;
			-moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			-o-transition: all .2s ease;
			transition: all .2s ease;
			position: absolute;

			@media only screen and (max-width: 1153px) {
				width: 60px;
				height: 60px;
				border: 7px solid $primaryBrand;
			}

			@media only screen and (max-width: 628px) {
				width: 40px;
				height: 40px;
				border: 5px solid $primaryBrand;
			}

			@media only screen and (max-width: 414px) {
				width: 30px;
				height: 30px;
				border: 3px solid $primaryBrand;
			}

			&:hover {
				background: #e4e4e4;
			}
		}

		.map-item-content {
			position: absolute;
			padding-left: 40px;
			width: 442px;
			z-index: 45;

			.title {
				background: rgba(127,212,37, .7);
				width: 0;
				overflow: hidden;
				pointer-events: none;

				h1 {
					line-height: 1;
					padding: 24px 24px 24px 64px;
					font-size: 28px;
					margin: 0;
					font-weight: 500;
					color: #616161;
					font-family: $headingFontStack;
				}
			}

			.content {
				background: rgba(71,71,71, .7);
				height: 0;
				overflow: hidden;
				margin-left: 48px;
				-webkit-transition: all .2s ease;
				-moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				-o-transition: all .2s ease;
				transition: all .2s ease;

				p {
					font-size: 18px;
					font-family: Arial, sans-serif;
					line-height: 20px;
					padding: 20px;
					margin: 0;
					color: white;
				}

				.btn {
					margin: 0 auto;
					width: 160px;
					font-size: 18px;
					padding: 6px;
					margin-bottom: 20px;

					&:hover {
						color: white;
					}
				}
			}

			@media only screen and (max-width: 1332px) {
				width: 360px;

				.title {

					h1 {
						font-size: 18px;
						padding: 16px 24px 16px 58px;
					}
				}

				.content {

					p {
						font-size: 16px;
					}
				}
			}

			@media only screen and (max-width: 1096px) {
				width: 320px;

				.title {

					h1 {
						font-size: 18px;
						padding: 16px 24px 16px 58px;
					}
				}

				.content {

					p {
						font-size: 14px;
						line-height: 16px;
					}
				}
			}

			@media only screen and (max-width: 1096px) {
				width: 280px;

				.title {

					h1 {
						padding: 24px 24px 24px 58px;
					}
				}

				.content {

					p {
						font-size: 13px;
						line-height: 14px;
						font-weight: 200;
					}
				}
			}
		}
	}
}

.products-and-news-row {
	margin: 60px 0;

	.featured-projects, .latest-news {
		float: left;
		width: 49%;
		background: $cardBackground;
		border-radius: 6px;

		&:first-child {
			margin-right: 2%;
		}

		.title {
			padding: 42px;
			text-align: center;

			h1 {
				margin: 0;
				font-size: 28px;
			}

			.splitter {
				margin-top: 16px;
			}
		}

		@media only screen and (max-width: 860px) {
			width: 100%;

			&:first-child {
				margin-bottom: 24px;
			}
		}
	}

	.latest-news {

		.latest-post {

			* {
				text-align: left;
			}

			table {
				margin-top: 30px;

				tr {
					td {
						padding: 0;
						vertical-align: middle;

						&.icon-holder {
							padding-right: 8px;
						}

						&.date {
							font-size: 10px;
						}

						&.title {
							font-size: 20px;
						}

						&.title, &.date {
							font-weight: 500;
							text-transform: uppercase;
							color: #484848;
							font-family: $headingFontStack;
						}

						img {
							margin-top: -20px;
						}

						&:first-child {
							width: 56px;
						}
					}
				}
			}

			.btn {
				padding: 0;
				background: none;
				width: auto;
				color: $primaryBrand;
				display: inline-block;
			}
		}
	}
	.read-more-news {
		margin: 28px auto 0 auto;
	}
}

.remodal-wrapper {
	.btn-row {
		text-align: center;
		padding-top: 16px;

		.btn {
			display: inline-block;
		}
	}
}

.mission-statement {
	background: #e9e9e9;
	padding: 46px 0;
	text-align: center;
	text-transform: uppercase;
	margin: 72px 0;

	p {
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		font-family: $headingFontStack;
		letter-spacing: 1px;
	}
}

.team-section {
	margin-bottom: 72px;

	h2 {
		color: #7fd425;
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		line-height: 18px;
		text-transform: uppercase;
	}
}

.testimonial-row {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 460px;
	position: relative;

	.title {
		padding-top: 34px;

		h1 {
			color: #252525;
		}
	}

	.testimonial-item {
		background: white;
		border-radius: 6px;

		h2 {
			padding-top: 70px;
		}

		p {
			padding: 0 44px 64px 44px;
		}
	}

	.testimonial-carousel {
		position: static;
	}

	.slick-dotted.slick-slider {
		margin: 0;
	}

	.slick-dots {
		bottom: 8px;

		li {
			width: 26px;
			height: 26px;

			&.slick-active {

				button {

					&:before {
						color: $primaryBrand;
					}
				}
			}

			button {
				width: 26px;
				height: 26px;


				&:before {
					width: 26px;
					height: 26px;
					opacity: 1;
					font-size: 20px;
					color: white;
				}
			}
		}
	}
}

.footer {
	background: $primaryBackground;
	color: white;
	padding: 32px 0;

	h2 {
		color: white;
		margin: 0;
		margin-bottom: 12px;
	}

	table {
		width: 100%;

		tr {

			td {
				vertical-align: top;
				padding-bottom: 16px;

				a {
					color: inherit;
				}

				&:first-child {
					width: 20px;
				}

				&.right {
					text-align: right;
				}
			}

			&.mobile-footer-nav {
				display: none;
			}

			@media only screen and (max-width: 1024px) {

				td.right {
					display: none;
				}

				&.mobile-footer-nav {
					display: block;
				}
			}
		}
	}
}

.post-page {
	margin-top: 46px;

	.load-more {
		width: 70%;

		.btn {
			margin: 54px auto;
		}
	}

	.posts {
		width: 70%;
		float: left;

		.page-limit:first-child {

			.visible:first-child {
				margin-top: 0;
			}
		}

		&.single-post {

			img {
				width: 100%;
				height: auto;
				border-radius: 6px;
				margin-bottom: 56px;
			}

			table {

				tr {

					td {
						vertical-align: middle;
						color: #484848;
						font-family: $headingFontStack;
						font-size: 30px;
						font-weight: 500;
						text-transform: uppercase;

						&:first-child {
							width: 116px;
						}

						img {
							width: 96px;
							max-width: 100%;
							margin: 0;
						}
					}
				}
			}

			h2 {
				margin-bottom: 12px;
				color: $primaryBrand;
			}

			.post-buttons {
				text-align: center;
				margin: 30px 0 96px 0;

				@media only screen and (max-width: 700px) {
					margin-bottom: 8px;
				}

				.btn {
					display: inline-block;

					@media only screen and (max-width: 1024px) {
						margin-bottom: 16px;
					}
				}

				@media only screen and (max-width: 540px) {
					&.btn:first-child {
						margin: 30px 0;
					}

				}
			}

			.post-content {

				p:first-child, p:nth-child(2) {
					font-size: 16px;
					line-height: 1.333;
				}
			}
		}

		.post {
			width: 100%;
			background: $cardBackground;
			border-radius: 6px;
			overflow: hidden;
			float: left;
			margin-top: 86px;
			opacity: 0;
			-webkit-transition: all .6s ease;
			-moz-transition: all .6s ease;
			-ms-transition: all .6s ease;
			-o-transition: all .6s ease;
			transition: all .6s ease;

			&.visible {
				opacity: 1;
				margin-top: 46px;
			}

			&:nth-child(3n+2) {
				margin-right: 4%;
			}

			&:nth-child(3n+2), &:nth-child(3n) {
				width: 48%;
			}

			.post-image {
				height: 308px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.post-content {
				padding: 28px 40px;
				color: #484848;

				.btn {
					margin: 0 auto;
				}

				table {

					tr {

						td {
							vertical-align: middle;
							font-family: $headingFontStack;

							&.date {
								color: $primaryBrand;
							}

							&.title {
								font-size: 24px;
							}

							&:first-child {
								width: 60px;
							}

							img {
								margin-top: -20px;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}

	.sidebar {
		width: 30%;
		padding: 0 0 0 60px;
		color: $contentTextColor;
		float: right;

		&>div {
			padding-top: 42px;

			h1 {
				text-align: center;
			}

			@media only screen and (max-width: 1024px) {
				padding-top: 0;
			}
		}

		.search {

			.field {
				position: relative;
				z-index: 1;

				input[type="search"] {
					width: 100%;
					background: $cardBackground;
					line-height: 34px;
					padding: 0 12px;
					border: none;
					border-radius: 6px;
					margin-top: 16px;
				}

				span {
					position: absolute;
					right: 0;
					background: $cardBackground;
					top: 35%;
					border-radius: 6px;
					cursor: pointer;
					padding: 7px 12px;
					-webkit-transition: all .2s ease;
					-moz-transition: all .2s ease;
					-ms-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;

					&:hover {
						color: white;
						background: $primaryBrand;
					}
				}
			}

			input[type="submit"] {
				display: none;
			}
		}

		.filter {

			table {
				width: 100%;
				margin-top: 16px;

				td {
					vertical-align: middle;

					&:first-child {
						width: 70px;
					}

					select {
						width: 100%;
						background: $cardBackground;
						border: none;
						height: 34px;
						padding: 0 12px;
					}
				}
			}
		}

		a {
			color: $primaryBrand;
		}

		.facebook-posts {

			ul {
				list-style-type: none;
				margin: 16px 0;
				padding: 0;

				li {
					margin-bottom: 24px;
					padding-left: 24px;
					background-image: url('/wp-content/themes/ice/images/facebook-logo.png');
					background-size: 14px;
					background-position: 0 0;
					background-repeat: no-repeat;
					word-wrap: break-word;

					&:last-child {
						margin-bottom: 0;
					}

					span {
						text-transform: uppercase;
						display: block;
						margin-top: 6px;
					}

					a {
						font-family: inherit;
						color: $primaryBrand;
					}
				}
			}
		}
	}

	.load-more.mobile {
		display: none!important;
	}

	@media only screen and (max-width: 1024px) {
		.posts, .sidebar {
			width: 100%;
			float: none;
		}

		.sidebar {
			padding: 0;
			margin-bottom: 60px;
		}

		.load-more.desktop {
			display: none!important;
		}

		.load-more.mobile {
			display: block!important;
			width: 100%;
		}
	}

	@media only screen and (max-width: 748px) {
		.posts {

			.post {
				margin-right: 0!important;
				width: 100%!important;
			}
		}
	}
}

#consultation-form {
	.step-1 {

	}

	.step-2 {
		display: none;
		margin-top: -50px;

		.btn-row {
			font-size: 0;

			.btn {
				display: inline-block;
				width: 48%;
				font-size: 18px;

				&:first-child {
					margin-right: 4%;
				}
			}
		}
	}

	.step-3 {
		display: none;

		.message {
			text-align: center;
			font-family: $headingFontStack;
			font-size: 18px;

			&.error {
				color: #AD0002;
			}
		}

		.btn-row {
			padding-top: 16px;
		}
	}


}

#new-build {
	.service-background {
		background-position: center right;
	}
}

.staff-member-row {
	font-size: 0;
	text-align: center;
	vertical-align: top;

	.staff-member {
		display: inline-block;
		background: #e9e9e9;
		margin: 0 16px 32px;
		max-width: 340px;
		vertical-align: top;

		.title-section {
			padding: 32px;

			h1 {
				margin: 0 0 12px 0;
				font-size: 24px;
			}
		}

		.text-holder {
			font-size: 16px;
			padding: 24px;
			text-align: left;
			line-height: 1.333;

			span {
				color: $primaryBrand;
			}
		}


		img {
			width: 100%;
		}
	}
}

.sustainable-building-row {
	margin-top: 50px;
}

.service-icons {
	margin: 52px 0;

	.service-icon {
		float: left;
		width: 18%;
		margin-right: 2.5%;

		.service-image {
			height: 124px;

			img {
				margin: 0 auto;
				width: 50%;
			}
		}

		.button-container {
			display: table;
			width: 100%;
			max-width: 204px;

			.btn {
				display: table-cell;
				width: 100%;
				height: 64px;
				vertical-align: middle;
				margin: 0 auto;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		@media only screen and (max-width: 950px) {
			width: 32%;
			margin-right: 2%;
			margin-top: 12px;

			&:nth-child(3) {
				margin-right: 0;
			}

			.btn {
				height: auto;
			}
		}

		@media only screen and (max-width: 600px) {
			width: 49%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(3) {
				margin-right: 2%;
			}
		}

		@media only screen and (max-width: 382px) {
			width: 100%;
			margin-right: 0;
			margin-top: 24px;
		}
	}
}

.service {
	max-width: 1920px;
	margin: 0 auto;

	.service-title {
		max-width: 870px;
		margin: 44px auto;
		text-align: center;

		.service-image img {
			margin: 0 auto;
			width: 66px;
		}
	}

	.service-content {
		position: relative;

		.service-background {
			border-radius: 10px;
			float: left;
			width: 62%;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.service-text {
			position: absolute;
			right: 0;
			padding: 40px 36px;
			width: 43%;

			.service-text-inner {
				padding: 40px;
				background-color: #ebebeb;
				border-radius: 10px;
			}
		}

		@media only screen and (max-width: 1500px) {
			.service-text {
				width: 45%;
			}
		}

		@media only screen and (max-width: 1120px) {
			.service-text {
				width: 50%;
			}
		}

		@media only screen and (max-width: 1024px) {
			.service-background {
				height: 300px;
			}
			.service-text, .service-background {
				position: static;
				float: none;
				width: 100%;
				border-radius: 0;
				padding: 0;
				background-position: center center;
				//height: auto!important;

				.service-text-inner {
					border-radius: 0;
				}
			}
		}
	}

	&.odd {
		.service-content {

			.service-background {
				float: right;

				@media only screen and (max-width: 1024px) {
					float: none;
				}
			}
			.service-text {
				right: auto;
				left: 0;
			}
		}
	}
}

.sector-content {

	ul {
		list-style-type: none;
		padding: 0;
		li {
			font-size: 14px;
			line-height: 18px;
			padding-left: 1em;
			text-indent: -.7em;

			&:before {
				content: "• ";
				font-size: 20px;
				color: $primaryBrand;
			}
		}
	}
}

.service-grey-section {
	background-color: #ebebeb;
	margin: 32px auto;

	.service-grey-section-inner {
		max-width: 1120px;
		margin: 0 auto;
		padding: 42px;

		p {
			font-size: 14px;
			line-height: 18px;

			&:first-child {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}

.sector-carousel-container {
	position: relative;
	overflow: hidden;

	.sector-carousel {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;

		.slick-prev, .slick-next {
			z-index: 20;
			top: 36%;

			&:before {
				font-family: FontAwesome;
				font-size: 100px;
			}
		}

		.slick-prev {
			left: 30px;

			&:before {
				content: '\f104';
			}

			@media only screen and (max-width: 1024px) {
				left: 24px;
			}
		}

		.slick-next {
			right: 94px;

			&:before {
				content: '\f105';
			}

			@media only screen and (max-width: 1024px) {
				right: 24px;
			}
		}

		.carousel-item {
			border-radius: 10px;
			overflow: hidden;
			position: relative;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			.carousel-content {
				background: rgba(127,212,37,.6);
				padding: 20px 80px 20px 80px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				h2 {
					margin-bottom: 0;
				}

				.btn {
					position: absolute;
					bottom: 24px;
					right: 66px;
				}

				h2, span {
					color: white;
					display: inline-block;
					width: 60%;
				}

				h2 {
					font-size: 25px;

					@media only screen and (max-width: 1024px) {
						margin-bottom: 12px;
					}
				}

				span {
					font-size: 16px;
					line-height: 20px;
					font-family: Arial;

					@media only screen and (max-width: 1024px) {
						display: none;
					}
				}

				@media only screen and (max-width: 1024px) {
					border-radius: 0;

					h2, a {
						display: block!important;
						position: static!important;
						text-align: center!important;
						margin: 0 auto!important;
					}
				}
			}
		}
	}
}

.open-consultation-service, .consultation-service {
	font-family: $headingFontStack;
	position: fixed;
	top: 200px;
	z-index: 10;
}

.mobile-consultation-service {
	display: none;
	height: auto;
	overflow-y: visible !important;

	.consultation-content {
		padding-bottom: 0 !important;

		.icon-image {
			margin-bottom: 12px;
		}
	}
}

.consultation-service {
	width: 418px;
	right: -418px;
	overflow-y: auto;
	height: 526px;

	.consultation-title {
		padding: 18px 70px 28px 70px;
		background: $primaryBrand;

		h1 {
			font-size: 20px;
			font-weight: 500;
			line-height: 24px;
			margin: 0 0 8px;
			color: white;
			text-align: center;
			font-family: $headingFontStack;

			@media only screen and (max-width: 400px) {
				font-size: 18px;
			}
		}
	}

	.consultation-content {
		background: #e9e9e9;
		padding: 16px 22px 22px 22px;

		.icon-image {
			width: 80px;
			height: 80px;
			position: relative;
			margin: 0 auto;
			background: white;
			border-radius: 50%;
			-webkit-transform: translateY(-60%);
			-moz-transform: translateY(-60%);
			-o-transform: translateY(-60%);
			-ms-transform: translateY(-60%);
			transform: translateY(-60%);

			img {
				width: 60%;
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		p {
			margin-top: -44px;
		}

		p.message {
			margin-top: 0;

			&.error {
				color: red;
			}

			&.success {
				color: green;
			}
		}

		.datepicker-label, .datepicker-date {
			padding: 10px;
			background: white;
			width: 50%;
			display: inline-block;
			color: #484848;
		}

		.datepicker-label {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		.datepicker-date {
			margin-left: -5px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			text-align: right;
		}

		.ui-datepicker-header {
			width: 16%;
			float: left;
			transform: rotate(-90deg) translateX(17px);
			position: relative;

			@media only screen and (max-width: 650px) {
				width: 10%;
			}

			.ui-datepicker-title, .ui-datepicker-prev, .ui-datepicker-next {
				position: absolute;
				bottom: -4px;
				color: $primaryBrand;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 200;
			}

			.ui-datepicker-prev {
				right: 415%;
				cursor: pointer;
			}

			.ui-datepicker-next {
				right: 140%;
				cursor: pointer;
			}

			.ui-datepicker-title {
				right: 200%;
			}
		}

		.ui-datepicker-calendar {
			width: 84%;
			float: right;
			margin-bottom: 12px;
			background: rgba(255,255,255,0.5);
			margin-top: -12px;
			padding: 12px;
			border-collapse: initial;

			thead tr th {
				padding-top: 8px;
			}

			td {
				text-align: center;

				span {
					padding: 10px;
					display: block;
				}

				a {
					color: inherit;
					font-size: 16px;
					padding: 10px;
					border-radius: 50%;
					display: block;
					cursor: pointer;

					&.ui-state-active {
						background: $primaryBrand;
					}

					&.ui-state-hover {
						background: #e9e9e9;
					}
				}
			}
		}

		input[type="text"], input[type="tel"], input[type="email"] {
			width: 100%;
			margin-bottom: 12px;
			padding: 10px;
			border: none;
			border-radius: 6px;
		}

		.btn {
			margin: 0 auto;
		}
	}
}

.screen-reader-response {
	display: none;
}

.wpcf7-mail-sent-ok {
	text-align: center;
	padding-top: 32px;
	border: 2px solid #005F00;
}

@media only screen and (max-width: 698px) {
	.open-consultation-service, .consultation-service {
		top: 260px;
	}
}

@media only screen and (max-width: 650px) {
	.open-consultation-service, .consultation-service {
		display: none;
	}
	.mobile-consultation-service {
		display: block;
		position: static;
		width: 100%;
		overflow-y: auto;
		height: auto;

		.consultation-title {
			padding: 22px 70px;
			cursor: pointer;
		}

		.consultation-content {
			height: 0;
			overflow: hidden;
			opacity: 0;

			.icon-image {
				opacity: 0;
			}
		}
	}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #484848;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #484848;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #484848;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #484848;
}

.open-consultation-service {
	right: 0;
	background: $primaryBrand;
	padding: 0 12px;
	width: 180px;
	color: white;
	cursor: pointer;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	text-transform: uppercase;
	font-size: 12px;

	span {
		font-size: 30px;
	}

	i {
		font-size: 80px;
		padding-right: 12px;
	}
}

.projects-page {
	margin: 78px auto;
}

.slick-prev, .slick-next {
	height: auto;
	width: auto;
}

#high-street {
	.sector-carousel-container .sector-carousel .slick-prev {
		left: 75px;
	}

	.sector-carousel-container .sector-carousel .slick-next {
		right: 18px;
	}
}

.project-section {
	max-width: 1920px;
	margin: 0 auto;

	.title {
		left: 0;
		right: 0;
		background: rgba(255,255,255,.7);
		position: absolute;
		z-index: 2;
		text-align: center;
		font-family: $headingFontStack;
		font-size: 24px;
		color: #484848;
		padding: 16px;
		text-transform: uppercase;
	}

	.project-carousel {

		.slick-prev, .slick-next {
			z-index: 20;
			top: 50%;

			&:before {
				font-family: FontAwesome;
				font-size: 100px;
			}
		}

		.slick-prev {
			left: 30px;

			&:before {
				content: '\f104';
			}

			@media only screen and (max-width: 1024px) {
				left: 24px;
			}
		}

		.slick-next {
			right: 30px;

			&:before {
				content: '\f105';
			}

			@media only screen and (max-width: 1024px) {
				right: 24px;
			}
		}

		.slick-current {
			.content {
				.text {
					box-shadow: 0 0 25px 45px #e9e9e9;
				}
			}
		}

		.content {
			background-position: right;
			background-repeat: no-repeat;

			.text {
				min-height: 443px;
				width: 50%;
				padding: 120px 80px;
				background: #e9e9e9;

				@media only screen and (max-width: 1024px) {
					padding-right: 40px;
				}

				@media only screen and (max-width: 768px) {
					padding-right: 0;
				}

				h2 {
					color: $primaryBrand;
					text-align: center;
				}
			}

			@media only screen and (max-width: 1380px) {
				background-position: 280px;
			}

			@media only screen and (max-width: 722px) {
				background-position: 180px;
			}

			@media only screen and (max-width: 704px) {
				background-position: 94px;
			}

			@media only screen and (max-width: 652px) {
				background-position: 30px;
			}

			@media only screen and (max-width: 540px) {
				background-image: none;

				.text {
					width: 100%;
					padding-right: 80px;
				}
			}
		}

		&.odd {
			.content {
				background-position: left;

				@media only screen and (max-width: 1100px) {
					background-position: -200px;
				}

				@media only screen and (max-width: 822px) {
					background-position: -340px;
				}

				.text {
					float: right;

					@media only screen and (max-width: 1024px) {
						padding-right: 80px;
						padding-left: 40px;
					}

					@media only screen and (max-width: 600px) {
						padding-left: 20px;
						padding-right: 40px;
					}

					@media only screen and (max-width: 540px) {
						padding-left: 80px;
						padding-right: 80px;
					}
				}
			}
		}
	}
}

.case-studies-grid {
	margin-bottom: 74px;

	.case-study {
		width: 33.3333%;
		float: left;
		position: relative;
		height: 322px;
		text-align: center;
		margin-top: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media only screen and (max-width: 800px) {
			width: 50%;
		}

		@media only screen and (max-width: 536px) {
			width: 100%;
		}

		.overlay {
			background: rgba(127,212,37,.6);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			cursor: pointer;
			opacity: 0;

			h1 {
				position: absolute;
				left: 10%;
				right: 10%;
				padding: 12px 0;
				top: 50%;
				margin: 0;
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				color: white;
				transform: translateY(-50%);
			}
		}

		.button {
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translatex(-50%);
		}
	}
}

.related-case-studies {
	margin-bottom: 74px;
}

.single-case-study-page {

	.mobile-case-study-carousel {
		background: #484848;
		display: none;
		position: relative;

		@media only screen and (max-width: 736px) {
			display: block;
		}

		.image {
			display: none;

			&.active {
				display: block;
			}

			img {
				max-height: 300px;
				display: block;
				margin: 0 auto;
			}
		}

		.arrows {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -32px;

			.arrow {
				&.left-arrow {
					position: absolute;
					left: 8px;
					color: #FFF;
					font-size: 58px;
				}

				&.right-arrow  {
					position: absolute;
					right: 8px;
					color: #FFF;
					font-size: 58px;
				}
			}
		}
	}

	.single-case-study-carousel {
		position: relative;

		@media only screen and (max-width: 736px) {
			display: none !important;
		}

		.slider-for, .slider-nav {
			float: left;
		}

		.slider-for {
			width: 70%;

			div {
				border-radius: 10px;
			}

			.slick-prev {
				left: 14px;
				top: 40%;
				z-index: 100;

				&:before {
					font-family: fontAwesome;
					font-size: 174px;
					content: '\f104';
				}
			}

			.slick-next {
				right: 58px;
				top: 40%;
				z-index: 100;

				&:before {
					font-family: fontAwesome;
					font-size: 174px;
					content: '\f105';
				}
			}

		}



		.slider-nav {
			width: 30%;
			overflow: hidden;
			height: 477px;

			div {
				border-radius: 10px;
			}

			.image {
				border-radius: 10px;
				margin: 11px 0 11px 22px;
			}

			img {
				height: 140px;
				width: 100%;
				border-radius: 10px;
			}
		}
	}

	.single-post {
		margin-top: 32px;

		.title {
			@media only screen and (max-width: 600px) {
				font-size: 18px !important;
			}
		}

		.post-content p {
			font-size: 14px!important;
		}
	}

	.single-case-study-carousel {
		.slider-for {
			.slick-slide {
				img {
					max-width: 100% !important;
				}
			}
		}
	}

	.sidebar {

		h1 {
			text-align: center;
			font-size: 28px;
		}

		p {
			font-size: 14px;
			line-height: 17px;

			span {
				color: $primaryBrand;
				font-weight: 700;
			}
		}
	}
}

.downloads {
	margin-bottom: 74px;

	.download {
		float: left;
		width: 49%;
		position: relative;
		margin-top: 50px;
		margin-right: 2%;

		&:nth-child(2n) {
			margin-right: 0;
		}

		@media only screen and (max-width: 800px) {
			width: 50%;
		}

		@media only screen and (max-width: 536px) {
			width: 100%;
		}

		img {
			width: 100%;
		}

		.download-overlay, .button {
			position: absolute;
		}

		.download-overlay {
			background: rgba(127,212,37,.6);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			cursor: pointer;
			opacity: 0;
			text-align: center;

			h1 {
				position: absolute;
				left: 10%;
				right: 10%;
				padding: 12px 0;
				top: 50%;
				margin: 0;
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				color: white;
				transform: translateY(-50%);
			}
		}

		.button {
			position: absolute;
			bottom: -22px;
			left: 50%;
			transform: translatex(-50%);
		}
	}
}

.map {
	position: relative;
	padding-top: 32px;

	img {
		width: 100%;
		min-height: 200px;
	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(127,212,37,.6);
		padding: 24px 32px;

		* {
			color: white;
		}

		@media only screen and (max-width: 724px) {
			padding: 12px;
			top: 0;
		}
	}
}

.contact-section {
	margin: 36px auto;

	.contact-details, .contact-form {
		float: left;
		width: 50%;

		@media only screen and (max-width: 640px) {
			width: 100%;
		}
	}

	.contact-details {

		.icon {
			width: 30px;
			height: 30px;
			background: $primaryBrand;
			border-radius: 50%;
			margin: 10px 12px 10px 0;
			position: relative;

			.fa {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: white;
			}
		}

		a {
			color: inherit;

			&:hover {
				color: $primaryBrand;
			}
		}

		@media only screen and (max-width: 640px) {
			margin-bottom: 24px;
		}
	}

	.contact-form {

		input[type="text"], input[type="email"], textarea {
			width: 100%;
			margin-bottom: 10px;
			border: none;
			background: #e9e9e9;
			border-radius: 5px;
			padding: 10px 12px;
		}

		input[type="submit"] {
			margin: 0 auto;
		}

		.halfwidth-contact {

			span:first-child input {
				margin-right: 2%;
			}

			input {
				width: 49%;
			}
		}
	}
}

.share-posts {
	display: inline-block;
	position: relative;

	.social-icons {
		height: 40px;
	}

	.btn {
		pointer-events: none;
	}

	.social-icon {
		position: absolute;
		font-size: 24px;
		bottom: 44px;
		opacity: 0;
		color: #484848;

		&:hover {
			color: $primaryBrand;
		}

		&.facebook {
			left: 5%;
		}

		&.twitter {
			left: 25%;
		}

		&.linkedin {
			left: 45%;
		}

		&.pinterest {
			left: 65%;
		}

		&.google {
			left: 85%;
		}
	}
}

.featured-carousel {

	.slick-prev, .slick-next {
		z-index: 20;
		top: 12%;

		&:before {
			font-family: FontAwesome;
			font-size: 80px;
		}
	}

	.slick-prev {
		left: 14px;

		&:before {
			content: '\f104';
		}
	}

	.slick-next {
		right: 24px;

		&:before {
			content: '\f105';
		}
	}

	.image {
		height: 220px;
		background-position: left;
		background-size: cover;
		background-repeat: no-repeat;
	}

	h2, p {
		text-align: left;
	}

	h2 {
		margin: 0 0 22px 0;
	}

	.content {
		padding: 42px;
	}

	.btn {
		margin: 0 auto;
	}
}

.single-case-study-page .single-case-study-carousel .slider-nav .image:focus, .slick-slide:focus {
    outline: 0;
}

